html{
  font-size: $baseFontSizeMobile + px;
  @media screen and (min-width: 768px){
    font-size: $baseFontSize + px;
  }
}
body{
  overflow-x: hidden;
  font-family: $fontOpenSans;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $colorGrayDark;
}

h1,h2,h3,h4,h5,h6{
  font-family: $fontRoboto;
  font-weight: 100;
}

