// Base font size
$baseFontSize: 16;
$baseFontSizeMobile: 14;

// Fonts

$fontRoboto: 'Roboto', sans-serif;
$fontRobotoCondensed: 'Roboto Condensed', sans-serif;

// Colors

$colorYellowLight: #FFFC82;
$colorOrangeLight: #FFD890;
$colorOrange: #FFC300;
$colorBloodOrange: #E74931;
$colorGreenLight: #B9F4BC;
$colorGreen: #1BB978;
$colorBlueLight: #05d5ff;
$colorPurple: #53f;
$colorGrayLight: #f2f2f2;
$colorGray: #F6F9FC;
$colorGrayDark: #6b7c93;

// Transitions
$transition: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$t: $transition;

