.credits-divide{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &:hover,&:active{
    text-decoration: none;
    svg{
      transform: rotate(45deg);
      fill: $colorBlueLight;
    }
  }
  svg{
    height: 35px;
    width: 36px;
    fill: $colorGrayDark;
    transition: all 400ms $t;
    transform-origin: center;
  }
}