.main-footer{
  position: relative;
  min-height: 300px;
  padding-top: 100px;
  overflow: hidden;
  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 1000px;
    width: 100%;
    z-index: -1;
    background-color: $colorGray;
    transform: skewY(5deg);
    transform-origin: top left;
  }
}