.main-content{
  flex: 1;
  .container-flex{
    padding-left: 0;
    padding-right: 0;
    @media screen and (max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    &--column{
      flex-direction: column;
    }
  }
}